name: Build python package, create github release and publish to pypi

on:
  workflow_call:
    
jobs:
  build:
    uses: sensirion/.github/.github/workflows/shared.python.pypi_publish.yml@main
    secrets:  inherit
