name: Build sphinx documentation and publish as github page

on:
  workflow_call:
    inputs:
      run-environment:
        description: OS to run TODO check on
        type: string
        default: "ubuntu-22.04"
      build-python-version:
        description: Python version used for docs build
        type: string
        default: 3.11
      use-project-requirements:
        description: New python packages will contain the requirements for building the documentation in the [docs] section of project dependencies
        type: boolean
        default: false

jobs:
  build_pages:
    runs-on: ${{ inputs.run-environment }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.build-python-version }}
          cache: "pip"
      - name: Install project  # projects that use a requirement file in the docs folder
        if: ${{ inputs.use-project-requirements == false }}
        run: |
          pip install build
          python -m build . --sdist  # we do not need the wheel and the wheel might not work depending on the version of setuptools!
          python -m pip install -r docs/requirements.txt
      - name: Install project with docs  # projects that use a docs section in the pyproject toml
        if: ${{ inputs.use-project-requirements == true }}
        run: |
          pip install .[docs]
      - name: Build documentation
        run: cd docs && make html
      - name: Upload html
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/_build/html
  deploy_pages:
    runs-on: ${{ inputs.run-environment }}
    needs: build_pages
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          token: ${{secrets.GITHUB_TOKEN}}
